# BBVA 

Los saldos diarios (al inicio y cierre) de los cajeros. Estos saldos se registran por un periodo de 5 meses, del 20 de Febrero al 30 de Julio de 2023

 El conjunto de datos incluye el monto en cada cajero en tres o cuatro distintos caseteros (de acuerdo a denominación
de billetes)



Que oportunidades de negocio se pueden encontrar
* Reducir los costos relacionados con la gestión de efectivo
*  obtener predicciones precisas sobre las necesidades de efectivo, de modo que podamos abastecer óptimamente de las ATM’s
* oportunidades de negocio al minimizar el efectivo improductivo y el
costo de transporte de efectivo

# Objetivos
- Predecir el monto de efectivo que paga un cajero de forma diaria
- Generar un reporte ejecutivo con los resultados obtenidos (dashboard)

In [1]:
import pandas as pd 
import numpy as np

In [54]:
test = pd.read_parquet("C:/Users/oscar/Downloads/BBVA/test.parquet")
train = pd.read_parquet("C:/Users/oscar/Downloads/BBVA/train.parquet")

In [55]:
def Clean_process_data(data):
    # quitamos los espacios en blanco
    data = data.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    # quitar los salgos inicales donde hay 0 y no hay valores en las otras columnas 
    # Habian MMM y otros pero entran ene sta categoria si no, tendriamos que hacer un analisis mas profundo
    data = data[~((data['SALDOINICIAL'] == 0) & (data[['SALDOFINAL', 'CONCENTRADO', 'DOTADO', 'PAGADO']].eq(0).all(axis=1)))]

    # Renombrar denominacion del billete
    data.iloc[:, data.columns.get_loc('DENOMINACION')] = data['DENOMINACION'].replace({
    'MXPB0000000100': 100,
    'MXPB0000000200': 200,
    'MXPB0000000500': 500,
    'MXPB0000000020': 20,
    'MXPB0000000050': 50,
    'MXPB0000001000': 1000
    })

    # Podemos borrarlas por que X solo son 0 y todas las fechas son iguales entonces solo nos quedaremos con uina 
    data = data.drop(columns = ['X','FECHA-CIERRE-LOAD','FECHA-CIERRE-CUTOFF'])

    return data

In [56]:
# Usamos la función para limpiar los datos y reasignar el DataFrame
test = Clean_process_data(test)
test

,ATM_ID,FECHA,DENOMINACION,SALDOINICIAL,SALDOFINAL,CONCENTRADO,DOTADO,PAGADO
3,MM0002,2023-02-20,100,6180000,7960000,0,4030000,2250000
4,MM0002,2023-02-20,200,17560000,19460000,0,6000000,4100000
5,MM0002,2023-02-20,500,14000000,29150000,0,42000000,26850000
9,MM0004,2023-02-20,100,9650000,8540000,0,0,1110000
10,MM0004,2023-02-20,200,19260000,16880000,0,0,2380000
...,...,...,...,...,...,...,...,...
6036734,MME998,2023-06-21,500,62850000,51250000,58400000,58400000,11600000
6036735,MME999,2023-06-21,20,850000,846000,850000,850000,4000
6036736,MME999,2023-06-21,100,4320000,6010000,4080000,6080000,310000
6036737,MME999,2023-06-21,200,8000000,13460000,7580000,13620000,580000
6036738,MME999,2023-06-21,500,20050000,36250000,15950000,36850000,4700000