# Chicago Taxi trips

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Limpieza de datos

In [2]:
prueba = pd.read_csv("C:/Users/oscar/Downloads/Data_chicago/archive/Data/chicago_taxi_trips_2016_05.csv")
prueba

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,3454.0,2016-5-4 15:00:00,2016-5-4 15:00:00,300.0,1.50,NaN,676.0,28.0,28.0,7.00,0.0,0.0,0.0,7.00,Cash,NaN,411.0,545.0,779.0,81.0
1,4432.0,2016-5-24 18:15:00,2016-5-24 18:30:00,720.0,0.00,NaN,959.0,32.0,8.0,8.50,2.0,0.0,0.0,10.50,Credit Card,101.0,18.0,610.0,167.0,754.0
2,4076.0,2016-5-4 15:45:00,2016-5-4 15:45:00,60.0,0.00,NaN,NaN,28.0,24.0,4.50,0.0,0.0,0.0,4.50,Cash,107.0,158.0,270.0,199.0,510.0
3,7929.0,2016-5-22 02:00:00,2016-5-22 02:15:00,1260.0,4.80,NaN,16.0,6.0,32.0,17.50,0.0,0.0,1.0,18.50,Credit Card,101.0,606.0,617.0,18.0,610.0
4,1985.0,2016-5-12 14:15:00,2016-5-12 14:15:00,0.0,0.00,NaN,NaN,NaN,NaN,7.50,1.4,0.0,0.0,8.90,Credit Card,119.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1943579,32.0,2016-5-20 16:45:00,2016-5-20 16:45:00,0.0,0.00,NaN,134.0,24.0,24.0,3.25,0.0,0.0,0.0,3.25,Cash,107.0,45.0,163.0,45.0,163.0
1943580,3948.0,2016-5-10 09:15:00,2016-5-10 09:15:00,660.0,0.55,NaN,134.0,8.0,24.0,7.75,2.0,0.0,0.0,9.75,Credit Card,NaN,419.0,615.0,45.0,163.0
1943581,8696.0,2016-5-3 15:45:00,2016-5-3 16:45:00,2880.0,17.90,NaN,313.0,8.0,76.0,46.00,9.5,0.0,1.5,57.00,Credit Card,43.0,167.0,754.0,225.0,6.0
1943582,1947.0,2016-5-17 09:15:00,2016-5-17 09:30:00,840.0,1.50,NaN,16.0,32.0,32.0,9.00,0.0,0.0,0.0,9.00,Cash,101.0,744.0,605.0,18.0,610.0
1943583,7777.0,2016-5-7 18:15:00,2016-5-7 18:30:00,540.0,1.10,NaN,959.0,8.0,8.0,7.25,0.0,0.0,1.0,8.25,Cash,NaN,167.0,754.0,167.0,754.0

In [135]:
# Especifica la ruta del archivo JSON
ruta_archivo = r'C:/Users/oscar/Downloads/Data_chicago/archive/column_remapping.json'
# Abre y lee el archivo JSON
with open(ruta_archivo) as archivo:
    datos = json.load(archivo)

    # Convierte los datos a un DataFrame de pandas
df = pd.DataFrame(datos)

Podemos notar que en dicho archivo se encuentran los datos de los viajes en taxi en Chicago

lo cual haremos merge con nuestra data de los viajes pero 
* Se debe limpiar los datos (tanto en el archivo josn como en la data)

Ya que si vemos hay compañias que estan vacias aun que hay taxi id 

Despues de analizar los datos hay varios taixs que se perderan que 
* No tiene ID ni compañia
* Solo tiene la clave codificada id pero no podemos descodificar esa info 

Por parte de esta practica al no tener otra data para recuperar datos posiblmente a esos taxis los separemos en sin compañia etc

In [136]:
df_nan = df[pd.isna(df['company'])]
df_nan

,taxi_id,company,pickup_census_tract,dropoff_census_tract,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
120,25b37d641316c0ca5cb44edf8eaf9f012e2495549f60b7...,NaN,17031070500,17031070500,41.735123264,-87.655878786,41.735123264,-87.655878786
121,adc7f5196ba6908039ab7f7c384e906794213988720341...,NaN,17031812802,17031812802,41.779954269,-87.710715958,41.779954269,-87.710715958
122,807b5d99114d04269a924c3a1a541b432b8091f9f2e3f7...,NaN,17031240200,17031240200,41.747534263,-87.67157759,41.747534263,-87.67157759
123,7c51947e529f0b10e944d3ab51b165bdb1cee520ef7bf8...,NaN,17031828000,17031828000,41.856333217,-87.617576172,41.856333217,-87.617576172
124,0e9f2dd7b140154617d473940c36cfb7956c2cd126dfe8...,NaN,17031760801,17031760801,41.660136051,-87.666536278,41.660136051,-87.666536278
...,...,...,...,...,...,...,...,...
8758,43aa40841edf3eb3e6112114f39cbd9cae2f45cee24f66...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,ab16f0667f2608e3dc827483fc4541ade5740316bff4ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8760,b3947461320274fc1ea81528ba6864a6bb726894fc2109...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8761,cc2fe5061e6f477a5a502f17b8c73f0b2476dff6025677...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8762,1aed6522859d97072638fadd1dba2c2fafbfd249561482...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
def drop_terminology(df):
    # Definir las palabras a eliminar
    palabras_a_eliminar = ['Cab', 'Co', 'Inc', 'Corp']
    df['company'] = df['company'].str.rstrip('.')
    df = df.dropna()
    # Crear una expresión regular que coincida con cualquier palabra en la lista
    regex_pattern = r'\b(?:' + '|'.join(palabras_a_eliminar) + r')\b'
    # Usar str.replace con la expresión regular para eliminar las palabras
    df['company'] = df['company'].str.replace(regex_pattern, '', regex=True).str.strip()
    return df
df = drop_terminology(df)

C:\Users\oscar\AppData\Local\Temp\ipykernel_4488\2454749359.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company'] = df['company'].str.replace(regex_pattern, '', regex=True).str.strip()

In [138]:
df

,taxi_id,company,pickup_census_tract,dropoff_census_tract,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,6c2706b6e0302b7ac0e10ea44c03a98c0db2151bf5d723...,3623-Arrington Enterprises,17031816600,17031816600,41.941422478,-87.811605775,41.941422478,-87.811605775
1,f214a04fc1bf8c606df1e497d7005bf6d4c29a49543955...,5874 - Sergey,17031750100,17031750100,41.920265121,-87.670621043,41.920265121,-87.670621043
2,63785f556615b521253474eaf06bcb6520798dc56aad80...,5874 - 73628 Sergey,17031070600,17031070600,41.898425258,-87.656411531,41.898425258,-87.656411531
3,e8872981b0207dc88bc7fc2778d1bf870967eb83ee03ac...,Chicago Medallion Management,17031831600,17031831600,42.005608023,-87.672538401,42.005608023,-87.672538401
4,d61b453f43bd9f0a3607f9947786ee69299fac1a85b574...,3011 - JBL,17031050200,17031050200,41.884272021,-87.61626757,41.884272021,-87.61626757
...,...,...,...,...,...,...,...,...
115,5e6ba3d77c1e1597624402bd204e81b4acbc3bdb103741...,6742 - 83735 Tasha ride inc,17031803611,17031803611,41.800260095,-87.7172201,41.800260095,-87.7172201
116,8ac089148362cd529ebbb3d1f1fba4ca368d94478c0e83...,2241 - 44667 - Felman Manuel Alonso,17031839600,17031839600,41.94258518,-87.710087322,41.94258518,-87.710087322
117,b44b9418403663617eccf4429dda6d5c6914679c4a06e4...,4197 - Royal Star,17031810502,17031810502,41.796205914,-87.671445766,41.796205914,-87.671445766
118,9352fa0b59d633e99dcf2b722c6849adf31389a6d239af...,5129 - 87128,17031816900,17031816900,41.798605405,-87.68508211,41.798605405,-87.68508211
119,f94005981bb3ab1e5bd5313d23184f879f4ab3eb14b3f7...,Chicago Elite . (Chicago Carriag,17031809000,17031809000,41.934986854,-87.572162863,41.934986854,-87.572162863

In [123]:
def clean_df_map(df):
    # Eliminar espacios en blanco alrededor de todas las celdas de tipo cadena
    df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    # Eliminar filas con valores nulos ya que no se pueden mapear la compañía
    df = df.dropna()
    # Usar una expresión regular para dividir la columna 'company' de los '-' ya que algunos estan con y sin espacio
    split_columns = df['company'].str.split(r'\s*-\s*|\s*-\s*', expand=False)
    # Crear nuevas columnas 'ID_Taxi' y 'company'
    df['ID_Taxi'] = split_columns.apply(lambda x: x[0].strip() if len(x) > 1 else None)
    df['company_clean'] = split_columns.apply(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())

    df['company'] = split_columns.apply(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
    
    return df

In [124]:
df = clean_df_map(df)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   taxi_id               120 non-null    object
 1   company               120 non-null    object
 2   pickup_census_tract   120 non-null    object
 3   dropoff_census_tract  120 non-null    object
 4   pickup_latitude       120 non-null    object
 5   pickup_longitude      120 non-null    object
 6   dropoff_latitude      120 non-null    object
 7   dropoff_longitude     120 non-null    object
 8   ID_Taxi               101 non-null    object
 9   company_clean         120 non-null    object
dtypes: object(10)
memory usage: 10.3+ KB

In [ ]:
def clean_data_taxis(prueba):
    # Rellenar 'taxi_id' con el valor de 'company' cuando 'taxi_id' es NaN, nulo, espacio en blanco o vacío
    prueba['taxi_id'] = prueba.apply(lambda row: row['company'] if pd.isna(row['taxi_id']) or (isinstance(row['taxi_id'], str) and row['taxi_id'].strip() == '') else row['taxi_id'], axis=1)

    return prueba

In [93]:
def types_for_columns(prueba, taxi_id, company):
    prueba[taxi_id] = prueba[taxi_id].astype(int)
    prueba[company] = prueba[company].astype(str)
    
    return prueba

In [94]:
prueba

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,3454,2016-5-4 15:00:00,2016-5-4 15:00:00,300.0,1.50,NaN,676.0,28.0,28.0,7.00,0.0,0.0,0.0,7.00,Cash,NaN,411.0,545.0,779.0,81.0
1,4432,2016-5-24 18:15:00,2016-5-24 18:30:00,720.0,0.00,NaN,959.0,32.0,8.0,8.50,2.0,0.0,0.0,10.50,Credit Card,101.0,18.0,610.0,167.0,754.0
2,4076,2016-5-4 15:45:00,2016-5-4 15:45:00,60.0,0.00,NaN,NaN,28.0,24.0,4.50,0.0,0.0,0.0,4.50,Cash,107.0,158.0,270.0,199.0,510.0
3,7929,2016-5-22 02:00:00,2016-5-22 02:15:00,1260.0,4.80,NaN,16.0,6.0,32.0,17.50,0.0,0.0,1.0,18.50,Credit Card,101.0,606.0,617.0,18.0,610.0
4,1985,2016-5-12 14:15:00,2016-5-12 14:15:00,0.0,0.00,NaN,NaN,NaN,NaN,7.50,1.4,0.0,0.0,8.90,Credit Card,119.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1943579,32,2016-5-20 16:45:00,2016-5-20 16:45:00,0.0,0.00,NaN,134.0,24.0,24.0,3.25,0.0,0.0,0.0,3.25,Cash,107.0,45.0,163.0,45.0,163.0
1943580,3948,2016-5-10 09:15:00,2016-5-10 09:15:00,660.0,0.55,NaN,134.0,8.0,24.0,7.75,2.0,0.0,0.0,9.75,Credit Card,NaN,419.0,615.0,45.0,163.0
1943581,8696,2016-5-3 15:45:00,2016-5-3 16:45:00,2880.0,17.90,NaN,313.0,8.0,76.0,46.00,9.5,0.0,1.5,57.00,Credit Card,43.0,167.0,754.0,225.0,6.0
1943582,1947,2016-5-17 09:15:00,2016-5-17 09:30:00,840.0,1.50,NaN,16.0,32.0,32.0,9.00,0.0,0.0,0.0,9.00,Cash,101.0,744.0,605.0,18.0,610.0
1943583,7777,2016-5-7 18:15:00,2016-5-7 18:30:00,540.0,1.10,NaN,959.0,8.0,8.0,7.25,0.0,0.0,1.0,8.25,Cash,NaN,167.0,754.0,167.0,754.0